</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="site.js"></script>
</body>
<!-- 
<footer class="bg-white rounded-lg shadow sm:flex sm:items-center sm:justify-between p-4 sm:p-6 xl:p-8 dark:bg-gray-800 antialiased">
  <p class="mb-4 text-sm text-center text-gray-500 dark:text-gray-400 sm:mb-0">
    &copy; 2024 <a href="https://flowbite.com/" class="hover:underline" target="_blank">Enrico Corticelli</a>. All rights reserved.
  </p>
</footer> -->

</html>